#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  max-height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 2;
  max-width: 100vw;
  gap: 10px;
  padding: 10px;
}

.list {
  grid-row: 1 / 3;
  grid-column: 1;
  background-color: aliceblue;
  border-radius: 1rem;
}

.add {
  grid-row: 1;
  grid-column: 2;
  background-color: aliceblue;
  border-radius: 1rem;
}

.delete {
  grid-row: 2;
  grid-column: 2;
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 20px;
}

.input-box {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  height: 2rem;
}

#demo-simple-select {
  background-color: white;
  height: 0.1rem;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .list, .add, .delete {
    grid-row: auto;
    grid-column: auto;
  }
}